<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('./partials/head', { title: 'Shopping Lists - Dashboard' }) %>  
    </head>
    <body class="flex justify-center p-8 bg-gray-50">
        <div class="max-w-4xl w-full p-8">
            <%- include(`${root}/views/partials/navbar`) %>
            <%- include(`${root}/views/partials/shoppingList`) %>
        </div>
    </body>
</html>
